@model IEnumerable<GEOnet.Models.geoUser>
@{
    ViewData["Title"] = "Index";
    //ViewData["Title"] = "Home Page";
    //Layout = null;
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!DOCTYPE html>

<html>
<head>
    <body>
        @*<h3>Пользователи</h3>*@
        <table align="center" border="0">
            <tr align="center">
                <th align="center" width="20%">Пользователь</th>
                <th align="center" width="20%">Устройство</th>
                <th align="center" width="20%">Время</th>
                <th align="center" width="20%">Дата</th>
                <th align="center" width="20%">Координаты</th>
            </tr>
            @foreach (var geomod in Model)
            {
        <tr align="center">
            <td align="center" width="20%">@geomod.username</td>
            <td align="center" width="20%">@geomod.namedevice</td>
            <td align="center" width="20%">@geomod.tm</td>
            <td align="center" width="20%">@geomod.dt</td>
            <td align="center" width="20%"><a href="~/Home/printname?searchName=@geomod.username">Смотреть</a></td>
        </tr>
            }
        </table>
    </body>
</head>
</html>