@model IEnumerable<GEOnet.Models.geoUser>
@{
    ViewData["Title"] = "Index";
    //ViewData["Title"] = "Home Page";
    //Layout = null;
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!DOCTYPE html>

<html>
<head>
    <body>
        @*<h3>Пользователи</h3>*@
        <table cellspacing="10">
            <tr>
                <th>Пользователь</th>
                <th>Время</th>
                <th>Дата</th>
                <th>Устройство</th>
                <th>Координаты</th>
            </tr>
            @foreach (var geomod in Model)
            {
        <tr>
            <td>@geomod.username</td>
            <th>@geomod.tm</th>
            <th>@geomod.dt</th>
            <td>@geomod.namedevice</td>
            <th><a href="~/Home/printname?searchName=@geomod.username">Смотреть</a></th>
        </tr>
            }
        </table>
    </body>
</head>
</html>