@model IEnumerable<GEOnet.Models.geoUser>
@{
    ViewData["Title"] = "Index";
    //ViewData["Title"] = "Home Page";
    //Layout = null;
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!DOCTYPE html>

<html>
<head>
    <body>
        @*<h3>Пользователи</h3>*@
        <table cellspacing="10">
            <tr>
                <th align="center">Пользователь</th>
                <th align="center">Время</th>
                <th align="center">Дата</th>
                <th align="center">Устройство</th>
                <th align="center">Координаты</th>
            </tr>
            @foreach (var geomod in Model)
            {
        <tr>
            <td align="left">@geomod.username</td>
            <td align="center">@geomod.tm</td>
            <td align="center">@geomod.dt</td>
            <td align="left">@geomod.namedevice</td>
            <td align="center"><a href="~/Home/printname?searchName=@geomod.username">Смотреть</a></td>
        </tr>
            }
        </table>
    </body>
</head>
</html>