@model IEnumerable<GEOnet.Models.geoUser>
@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>

<html>
<head>
    <body>
        @*<h3>Пользователи</h3>*@
        <form asp-controller="Home" asp-action="Index" method="get">
            <p>
                Пользователь: <input type="text" name="SearchString" />
                <input type="submit" value="Фильтровать" />
            </p>
        </form>
        <table align="center" border="1">
            <tr align="center">
                <th align="center" width="20%">Пользователь</th>
                <th align="center" width="20%">Устройство</th>
                <th align="center" width="20%">Время</th>
                <th align="center" width="20%">Дата</th>
                <th align="center" width="20%">Координаты</th>
                <th align="center" width="20%">Карта</th>

            </tr>
            @foreach (var geomod in Model)
            {
        <tr align="center">
            <td align="center" width="20%">@geomod.username</td>
            <td align="center" width="20%">@geomod.namedevice</td>
            <td align="center" width="20%">@geomod.tm</td>
            <td align="center" width="20%">@geomod.dt</td>
            @*нужно убрать <td align="center" width="20%"><a href="~/Home/printname?searchName=@geomod.username">Смотреть</a></td>*@
            <td align="center" width="20%"><a href="~/Home/searchnamedev?searchName=@geomod.username&searchDev=@geomod.namedevice">Смотреть</a></td>
            <td align="center" width="20%"><a href="~/Home/geomapall?Name=@geomod.username&Dev=@geomod.namedevice">Карта</a></td>
        </tr>
            }
        </table>
    </body>
</head>
</html>