@{
    ViewData["Title"] = "rmuser";
}

<!DOCTYPE html>
<html>
<head>
    <title>Удалить пользователя</title>
</head>
<body>
    <div>        
        <p>Для удаления пользователя укажите его имя и устройство.</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.Id" name="Id" />
            <table>
                <tr>
                    <td>Имя:</td>
                    <td><input ="text" name="username" /></td>
                </tr>
                <tr>
                    <td>Устройство:</td>
                    <td><input ="text" name="namedevice" /></td>
                </tr>
                <tr><td><input type="submit" value="Удалить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>